.bg-logo {
  background: url("/images/csssprite/css-sprite-combined.png") 0px -69px;
  width: 147px;
  height: 36px;
  display: inline-block;
}

.bg-service1 {
  background: url("/images/csssprite/css-sprite-combined.png") -147px -46px;
  width: 60px;
  height: 59px;
  display: inline-block;
}

.bg-service2 {
  background: url("/images/csssprite/css-sprite-combined.png") -207px -46px;
  width: 60px;
  height: 59px;
  display: inline-block;
}

.bg-service3 {
  background: url("/images/csssprite/css-sprite-combined.png") -267px -46px;
  width: 60px;
  height: 59px;
  display: inline-block;
}

.bg-service4 {
  background: url("/images/csssprite/css-sprite-combined.png") -327px -46px;
  width: 60px;
  height: 59px;
  display: inline-block;
}

.bg-service5 {
  background: url("/images/csssprite/css-sprite-combined.png") -387px -46px;
  width: 60px;
  height: 59px;
  display: inline-block;
}

.bg-service6 {
  background: url("/images/csssprite/css-sprite-combined.png") -447px -46px;
  width: 60px;
  height: 59px;
  display: inline-block;
}

.bg-why1 {
  background: url("/images/csssprite/css-sprite-combined.png") -507px -0px;
  width: 104px;
  height: 105px;
  display: inline-block;
}

.bg-why2 {
  background: url("/images/csssprite/css-sprite-combined.png") -611px -0px;
  width: 104px;
  height: 105px;
  display: inline-block;
}

.bg-why3 {
  background: url("/images/csssprite/css-sprite-combined.png") -715px -0px;
  width: 104px;
  height: 105px;
  display: inline-block;
}
