<section class="hero grid grid-1x2">
    <div class="hero__content">
        <h1 class="hero__header">Power ful <br>Web Hosting</h1>
        <span class="hero__header2">Landing Page 2019</span>
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
        <button class="btn">Get Started</button>
    </div>
    <div>
        <img src="/images/img.png" class="hero__image">
    </div>