<section class="main__content align--center">
    <h2 class="main__heading">What’s New In Web Hosting</h2>
    <img src="/images/web.jpg" alt="">
    <p class="main__text align--center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
    <button class="btn">Read More</button>
</section>