<section class="services">
    <header class="services__header align--center">
        <h3 class="services__heading">Best Services</h3>
        <p class="services__paragraph"> Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad
            teimpor sittem elit inuning ut sed.</p>
    </header>
    <main class="services_content flex--col align--center">
            <section>
                <span class="service1 service--border ">
                    <a href="">
                        <span >
                            <img class="service__logo" src="/images/service1.png">
                        </span>
                        <h3 class="service__name">Shared Hosting</h3>
                        <p class="service__describe">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </a>              
                </span>
            </section>
            <section>
                <span class="service2 service--border service--hover ">
                    <a href="">
                        <span >
                            <img class="service__logo" src="/images/service2.png">
                        </span>
                        <h3 class="service__name">Dedicated Hosting</h3>
                        <p class="service__describe">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </a>              
                </span>
            </section>
            <section>
                <span class="service3 service--border service--hover ">
                    <a href="">
                        <span >
                            <img class="service__logo" src="/images/service3.png">
                        </span>
                        <h3 class="service__name">Domain Registration</h3>
                        <p class="service__describe">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </a>              
                </span>
            </section>
            <section>

                <span class="service4 service--border service--hover ">
                    <a href="">
                        <span >
                            <img class="service__logo" src="/images/service4.png">
                        </span>
                        <h3 class="service__name">VPS Hosting</h3>
                        <p class="service__describe">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </a>              
                </span>
            </section>
            <section>
                <span class="service5 service--border service--hover ">
                    <a href="">
                        <span >
                            <img class="service__logo" src="/images/service5.png">
                        </span>
                        <h3 class="service__name">Cloud Hosting</h3>
                        <p class="service__describe">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </a>              
                </span>
            </section>
            <section>
                <span class="service6 service--border service--hover ">
                    <a href="">
                        <span >
                            <img class="service__logo" src="/images/service6.png">
                        </span>
                        <h3 class="service__name">Cloud Hosting</h3>
                        <p class="service__describe">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                    </a>              
                </span>
            </section>
        </section>
        <div class="services__footer__btn">
            <button class="btn services__btn">Read more</button>
        </div>
    </main>
</section>