<nav class="nav__top">
    <section>
        <img class="nav_logo"src="/images/logo.png" alt="">
    </section>
    <section class="collapsible">
            <span>
                <svg class="icon menu__icon icon--white collapsible">
                    <use xlink:href="images/sprite.svg#menu"></use>
                </svg>
            </span>
                <ul class="list nav__list collapsible__content">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
    </section>
</nav>